@model IEnumerable<Shopbanhang.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Layoutadmin.cshtml";
}

<div class="container" style="margin-top: 100px;">
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModalCenter1">
        Tạo mới
    </button>
    <div class=" = row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>SỐ TT</th>
                    <th>Tên danh mục</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CatId</td>
                        <td>@item.CatName</td>
                        <td>
                            <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModalCenter2">
                                Xóa
                            </button>
                        </td>

                    </tr>
                }
            </tbody>

        </table>

    </div>
    <div class="modal fade" id="exampleModalCenter1" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Tạo mới danh mục </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("Create", "Categorys", FormMethod.Post, new { id = "productForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Tên danh mục</label>
                            <input type="text" class="form-control" id="CatName" name="CatName" />
                        </div>

                    }

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-gradient-success" id="saveChangesBtn1">Tạo mới </button>
                </div>
            </div>
        </div>
    </div>
    <!---->
    <div class="modal fade" id="exampleModalCenter2" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Xác nhận xóa đơn hàng </h5>
                    <button type="button" class="btn-close" id="Id" name="Id"></button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-gradient-success" id="saveChangesBtn2">Xóa </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js" integrity="sha512-+k1pnlgt4F1H8L7t3z95o3/KO+o78INEcXTbnoJQ/F2VqDVhWoaiVml/OEHv9HsVgxUaVW+IbiZPUJQfF/YxZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
       $(document).ready(function () {

$('#saveChangesBtn1').on('click', function () {
     var Category = $('#CatName').val();

    $.ajax({
        url: '@Url.Action("Create", "Categorys")',
        type: 'POST',
       data: {

            CatName: CatName,
        },
        success: function (result) {
            if (result.success) {
                $('#exampleModalCenter1').modal('hide'); // Close the modal on success
                location.reload();  // Reload the page to see changes
            } else {
                console.error('Error updating status:', result.message);
            }
        },
        error: function (xhr, status, error) {
            console.error('Error updating status:', error);
            alert('Đã xảy ra lỗi khi tạo mới danh mục.');
        }
    });
});
   });

</script>
<script>
       $(document).ready(function () {

$('#saveChangesBtn2').on('click', function () {
     var Category = $('#CatName').val();

    $.ajax({
        url: '@Url.Action("DeleteComfirmd", "Categorys")',
        type: 'POST',
       data: {

            Id : Id,
        },
        success: function (result) {
            if (result.success) {
                $('#exampleModalCenter2').modal('hide'); // Close the modal on success
                location.reload();  // Reload the page to see changes
            } else {
                console.error('Error updating status:', result.message);
            }
        },
        error: function (xhr, status, error) {
            console.error('Error updating status:', error);
            alert('Đã xảy ra lỗi khi xóa danh mục.');
        }
    });
});
   });

</script>

